/* #choices{
  display:flex;
  justify-content: space-around;

} */
.game{
  border: 2px solid black;
}
.choice{
  height: 200px;
  width: 200px;
  background-color: antiquewhite;
  border: 2px solid black;
}
h1{
  text-align: center;
  padding-top: 40px;
}
#result{
  display:flex;
  justify-content: space-around;
}
#scores{
  display: flex;
  justify-content: space-evenly;
}

.score{
  height: 200px;
  width:200px;
  background-color: rgba(139, 115, 131, 0.568);
  border: 2px solid black;
}
.view_choice{
  font-size: 25px;
  font-weight: bold;
}
